<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Cards</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <h1>Pokemon Cards</h1>

    <div class="pokemon-container">
        {% for pokemon in pokemon_list %}
            <div class="pokemon-card" style="background-color: {{ pokemon['backColor'] }};">
                <img src="{{ pokemon['img'] }}" alt="{{ pokemon['name'] }}" class="pokemon-image">
                <h2 class="pokemon-name">{{ pokemon["name"] }}</h2>
                <p>Types: {{ pokemon['types'] }}</p>
                <p>Height: {{ pokemon['height'] }} m</p>
                <p>Weight: {{ pokemon['weight'] }} kg</p>
            </div>
        {% endfor %}
    </div>

</body>
</html> 	
